@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);body {
  width: 100%;
  height: 100%;
}

.container.fill-height.nopadding {
  padding: 0;
}

.nopadding {
  padding: 0;
}

.cover-home {
  margin-top: -65px;
  background-image: url("/images/backgrounds/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.purple-blur {
  background: rgba(150, 50, 200, 0.5);
  height: 100%;
}

.purple.custom-purple {
  background-color: transparent !important;
}

.toolbar.custom-toolbar {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.application
.theme--dark.navigation-drawer:not(.navigation-drawer--floating)
.navigation-drawer__border {
  background-color: transparent !important;
}

